{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-between">
      <a href="{% url 'core:formulario-participante' %}" class="col-5 btn btn-success p-3">Formulario Participante</a>
      <a href="{% url 'core:formulario-institucion' %}" class="col-5 btn btn-success p-3">Formulario Institucion</a>
  </div>
  <div class="row justify-content-between p-3">
    <a href="{% url 'core:autor' %}" class="col-3 btn btn-primary p-3">Listar Datos estudiante (Json)</a>
    <a href="{% url 'core:participanteListClass' %}" class="col-3 btn btn-primary p-3">Listar Participantes (Class Based Views)</a>
    <a href="{% url 'core:institucionList' %}" class="col-3 btn btn-primary p-3">Listar Instituciones (Función Based Views) </a>
  </div>
</div>
{% endblock %}